body{
	background-color: #FFFFFF;
}

.prop{
	width:300px;
	height:300px;
	position:relative;
	float:left;
	margin-right:-20px;
	top:-10px;
}

.prop1A{
	width:300px;
	height:300px;
	position:relative;
	float:left;
	margin-right:-20px;
	top:-10px;
}

.prop1B{
	width:300px;
	height:300px;
	position:relative;
	float:left;
	margin-right:-20px;
	top:10px;
}
.spacer{
	width:200px;
	height:150px;
	position:relative;
	float:left;
	margin:0px;
}

#Chocolates{
	width:350px;
	height:350px;
}

#itinerary{
	width: 600px;
	
}

#AdBible{
	
	width:400px;
	/*margin-left: -150px;*/

}

.prop2{
	position: absolute;
	top:290px;
	left:100px;
	width:300px;
	height:200px;
	
}
#UNnote{
	width:300px;
	
}

.prop3{
	position: absolute;
	top:400px;
	left:800px;
	width:300px;
	height:200px;
	
}
#thinkThin{
	width:300px;
	
}

.prop4{
	position: absolute;
	top:460px;
	left:110px;
	width:300px;
	height:200px;
	
}
#wroteIt{
	width:280px;
	
}
/*#circle{
	border-radius:100%;
	background-color:#FFF;
	
}
